.menulateral {
    background-color: #ffffff;
    margin-left: 20px;
    padding: 20px;
    /* height: 100vh; */
    border-radius: 20px;
    border: 1px solid #c9c9c9;
}

.menulateral .list-group a {
    text-align: center;
    padding: 20px;
}

.opcao {
    position: relative;
    overflow: hidden;
    background: transparent;
    color: #818181;
    border: 2px solid #818181;
    transition: color 0.3s ease;
}

.opcao::before {
    content: "";
    position: absolute;
    top: 0;
    left: -105%;
    /* começa fora */
    width: 100%;
    height: 100%;
    background: #ff8800;

    transition: left 0.5s ease;
    z-index: 0;
}

/* hover */
.opcao:hover::before {
    left: 0;
    content: "";
    position: absolute;
    top: 0;
    left: -105%;
    width: 200%;
    height: 100%;
    background: linear-gradient(#ff9f328e, #ffb66383) ;

    transform: skewX(-20deg);
    transition: all 0.5s ease;
    z-index: 0;
}

/* garante que o texto fique acima */
.opcao span {
    position: relative;
    z-index: 1;
    transition: all 0.25s ease;
    cursor: pointer;
}

/* texto branco no hover */
/* .opcao:hover span {
    color: #fff;
} */






.tooltip-inner {
    background: linear-gradient(13deg, #ff8800, #ff6a00);
    color: white;
    font-weight: 500;
    border-radius: 6px;
    padding: 6px 10px;
}

.tooltip .tooltip-arrow::before {
    border-top-color: #ff8800 !important;
}

/* Ajustar a seta para combinar */
.tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #ff7f00 !important;
    /* seta na direita */
}