/* /* .premium-container {
  padding: 40px;
  color: #333;
}
  

/* ANIMAÇÃO ENTRADA */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease forwards;
}

.delay { animation-delay: 0.2s; }
.delay2 { animation-delay: 0.4s; }
.delay3 { animation-delay: 0.6s; }

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.titulo{
    text-align: center;
    margin-bottom: 30px;
}

.titulo h2{
    color: #ff8945;
    font-weight: 900
}
.titulo-preto h3{
    color: #797979;
    font-weight: 900
}

/* HERO */
.premium-hero {
  text-align: center;
  margin-bottom: 60px;
}

.premium-hero h1 {
  font-size: 38px;
}

/* BOTÕES */
.btn-primary {
  background: linear-gradient(135deg, #ff8800, #ff6a00);
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(79, 70, 229, 0.3);
}

.btn-secondary {
  background: transparent;
  border: 1px solid #ff8800;
  color: #e59b46;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-secondary:hover {
  background: #ff8800;
  color: white;
}

/* GLOW */
.glow:hover {
  box-shadow: 0 0 15px rgba(241, 168, 99, 0.6);
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.hover-card {
  padding: 20px;
  border-radius: 12px;
  background: #fafafa;
  transition: 0.3s;
  border: 1px solid #eee;
}

.hover-card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* PLANOS */
.planos {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.plano {
  position: relative;
  border: 1px solid #ddd;
  padding: 25px;
  border-radius: 15px;
  width: 260px;
  background: white;
  transition: 0.3s;
  cursor: pointer;
}

.plano:hover {
  transform: translateY(-5px);
}

/* PLANO ATIVO */
.plano.ativo {
  border: 2px solid #e58e46;
  box-shadow: 0 15px 40px rgba(229, 142, 70, 0.2);
  transform: scale(1.05);
}

/* DESTAQUE */
.plano.destaque {
  background: linear-gradient(135deg, #fff9f5, #fff6ee);
}
.destaque {
  background: linear-gradient(135deg, #fff9f5, #fff6ee);
}

/* BADGE */
.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #ff8800;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
}

/* PREÇO */
.preco {
  font-size: 30px;
  margin: 15px 0;
}

/* CTA */
.premium-cta {
  text-align: center;
  margin-top: 60px;
}  