body{
    background-color: #f6f6f6;
}

.titulo{
        text-align: center;
}

.card_filtros{
    width: 80%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.card{
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.img_card{
    padding: 15px;
    padding-left: 20px;
}
