body {
    background-color: #f6f6f6;
}

.titulo {

    text-align: center;
    /* margin-top: 10px; */
}

.texto {
    background-color: #fff2da;
    text-align: center;
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 20px;
    width: 500px;
    margin: auto;

}

.form_cadastro {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    width: 600px;
    margin: auto;
}

.logo {
    max-width: 600px !important;
}

.bg-padrao {
    background-color: #ff8800;
}
