body {
     background-color: #f6f6f6;
}


.btn-padrao {
    background: linear-gradient(135deg, #ff8800, #ff6a00);
    color: #ffffff;
    border: none;
    border-radius: 12px;
    padding: 12px 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;

    box-shadow: 0 6px 15px rgba(255, 136, 0, 0.3);
    transition: all 0.25s ease;
}

/* Hover */
.btn-padrao:hover {
    filter: brightness(110%);
    transform: translateY(-3px);
    color: #ffffff;
    box-shadow: 0 10px 25px rgba(255, 136, 0, 0.4);
}

/* Clique */
.btn-padrao:active {
    transform: translateY(0px);
    box-shadow: 0 4px 10px rgba(255, 136, 0, 0.3);
}

/* Focus (acessibilidade) */
.btn-padrao:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(255, 136, 0, 0.3);
}

.titulo_pg {
  font-size: 48px;
  font-weight: 700;
  color: #000000; 
  max-width: 600px;
}

.destaque_pg {
  color: #ff8800;
}

.margem{
    margin-left: 10%;
}